<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="dao.BoardMapper">
	<cache />
	
	<!-- int는 기본타입이므로 parameterType을 굳이 쓰지 않는다. -->
	<select id="getOne" resultType="bVo">
		select * from board where seq=#{seq};
	</select>
	
	<select id="getAll" resultType="bVo">
		select * from board order by seq desc;
	</select>
	
	<update id="increaseCnt">
		update board set cnt = cnt+1 where seq=#{seq};
	</update>
	
	<update id="update" parameterType="bVo">
		update board set title=#{title}, content=#{content} where seq = #{seq};
	</update>
	
	<update id="save" parameterType="bVo">
		insert into board(title, content, userid, name) value
		(#{title},#{content},#{userid},#{name});
	</update>
	
	<delete id="delete">
		delete from board where seq=#{seq};
	</delete>
	
</mapper>